*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0
}

body, html {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    text-shadow: none;
    outline: 0;
    font-weight: 400
}

::selection {
    background: #6e56a3;
    text-shadow: none;
    color: #fff
}

moz::selection {
    background: #6e56a3;
    text-shadow: none;
    color: #fff
}

a:focus {
    outline: 0
}

::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .7)
}

::placeholder {
    color: rgba(0, 0, 0, .7)
}

.wrapper {
    min-height: calc(100vh - 50px);
    padding: 7px 1px 0;
    margin-right: auto;
    margin-left: auto;
    float: left
}

@keyframes swing {
    0% {
        transform: rotate(0deg)
    }
    10% {
        transform: rotate(10deg)
    }
    30% {
        transform: rotate(0deg)
    }
    40% {
        transform: rotate(-10deg)
    }
    50% {
        transform: rotate(0deg)
    }
    60% {
        transform: rotate(5deg)
    }
    70% {
        transform: rotate(0deg)
    }
    80% {
        transform: rotate(-5deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

@keyframes sonar {
    0% {
        transform: scale(0.9);
        opacity: 1
    }
    100% {
        transform: scale(2);
        opacity: 0
    }
}

.page-wrapper .sidebar-wrapper, .sidebar-wrapper .sidebar-brand > a, .sidebar-wrapper .sidebar-dropdown > a:after, .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before, .sidebar-wrapper ul li a i, .page-wrapper .page-content, .sidebar-wrapper .sidebar-search input.search-menu, .sidebar-wrapper .sidebar-search .input-group-text, .sidebar-wrapper .sidebar-menu ul li a, #show-sidebar, #close-sidebar {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.page-wrapper {
    height: 100vh
}

.page-wrapper .theme {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 4px;
    margin: 2px
}

.page-wrapper .theme.chiller-theme {
    background: #1e2229
}

.page-wrapper.toggled .sidebar-wrapper {
    left: 0
}

@media screen and (min-width: 768px) {
    .page-wrapper.toggled .page-content {
        padding-left: 210px;
        background-color: #eee
    }
}

@media screen and (max-width: 768px) {
    .page-wrapper.toggled .sidebar-wrapper {
        position: fixed;
        left: -210px
    }
    .dataTables_length, .dataTables_info
    {
        display: none;
    }

    div.dataTables_wrapper div.dataTables_paginate
    {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
    .page-wrapper.chiller-theme .togleshow {
        display: none !important;
    }
    .sidebar-wrapper .sidebar-brand img {

        width: 128px !important;
        margin-left: 40px;
    }
    .page-wrapper .sidebar-wrapper {
        position: fixed;
        left: 0
    }
   .card.mini-stat .pt-2
   {
        border-top: 1px solid #e4e4e4;
        margin-top: 8px;
        float: left;
        width: 100%;

    }
    .page-wrapper.chiller-theme #close-sidebar {
        margin-left: 250px
    }

    .page-wrapper.chiller-theme.toggled #close-sidebar {
        margin-left: 0
    }
}

#show-sidebar {
    position: fixed;
    left: 0;
    top: 3px;
    border-radius: 0 4px 4px 0;
    width: 35px;
    transition-delay: .3s;
    z-index: 999;
}

.page-wrapper.toggled #show-sidebar {
    left: -40px
}

.sidebar-wrapper {
    width: 210px;
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    left: -210px;
    z-index: 999
}

.page-wrapper.chiller-theme.toggled .togleshow {
    display: none
}

.page-wrapper.chiller-theme .togleshow {
    float: left;
    max-height: 55px;
    display: inline-block;
    margin-left: 55px;
    width: auto
}

.m_t20 {
    margin-top: 20px
}

.m_b20 {
    margin-bottom: 20px
}

.m_b10 {
    margin-bottom: 10px
}

.m_t10 {
    margin-top: 10px
}

.text_black {
    color: #000
}

.pad10 {
    padding: 10px
}

.pad20 {
    padding: 20px
}

.pad0 {
    padding-left: 0 !important;
    padding-right: 0 !important
}

.colpad_Left0 {
    padding-left: 0 !important;
    padding-right: 3px !important
}

.colpad_Right0 {
    padding-left: 3px !important;
    padding-right: 0 !important
}

.BoxPad {
    margin-right: -5px;
    margin-left: -5px
}

.p_t50 {
    padding-top: 50px !important
}

.p_t5 {
    padding-top: 5px !important
}

div.dataTables_wrapper div.dataTables_info {
    font-size: 12px
}

.modalCommonBtn {
    position: absolute;
    top: 7px;
    right: 5px;
    background-color: #29333f;
    color: #fff !important;
    transition: .4s
}

.right2btn {
    right: 85px !important
}

.modalCommonBtn:hover, .modalCommonBtn:focus {
    position: absolute;
    top: 7px;
    right: 5px;
    background-color: #000;
    color: #fff !important;

}

.modalCommonBtn:hover {
    color: #ccc
}

.modalCommonBtn i {
    background-color: #f5f5f5;
    border-radius: 50%;
    color: #228a75;
    padding: 0 2px
}

.boxShadaw {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 2px;
    margin-top: 5px;
    width: 100%;
    float: left;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    box-shadow: -4px 3px 9px 0 rgba(212, 212, 212, 0.14);
    position: relative;
    transition: .4s
}

.boxShadaw:hover {
    border: 1px solid #c1d8ec;
    box-shadow: -4px 3px 9px 0 rgba(212, 212, 212, 0.5)
}

.RequirdField label::first-letter {
    color: #fb5959
}

.RequirdField .form-control:focus {
    border-color: #fb5959
}

.list-angle-right {
    margin: 0;
    padding: 0;
    margin-bottom: 15px
}

.list-angle-right li {
    list-style: none;
    padding: 2px 5px 2px 20px;
    font-size: 13px;
    color: #4c4c4c;
    line-height: 21px;
    position: relative
}

.EditBtn {
    color: #5cb85c;
    border: 1px solid #5cb85c;
    padding: 2px 5px;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer
}

.EditBtn:hover {
    color: #396f39;
    border: 1px solid #396f39
}

h5 {
    font-weight: 600
}

.subCard_Main {
    padding: 4px 6px 7px;
    float: left;
    width: 100%;
    border-top: 1px solid #e4e4e4;
    background-color: #f5f5f5
}

.subCard {
    width: 100%;
    padding: 16px 7px 10px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ececec;
    text-align: left;
    float: left
}

.floleft {
    float: left
}

.ActionBox {
    height: 40px;
    position: relative;
    width: 100%;
    float: left;
    display: block;
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 10px;
    margin-top: -10px
}

.DeleteBtn {
    color: #f13b3b;
    border: 1px solid #a94442;
    padding: 2px 5px;
    border-radius: 50%;
    position: absolute;
    right: 35px;
    top: 5px;
    cursor: pointer
}

.DeleteBtn_Gallery_Image {
    color: #f13b3b;
    border: 1px solid #a94442;
    padding: 2px 5px;
    border-radius: 50%;
    position: absolute !important;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 9;
    background: rgba(255, 131, 131, 0.4)
}

.cursor {
    cursor: pointer
}

.ConfirAction {
    font-size: 22px;
    text-align: center;
    font-weight: 400;
    margin: 8px auto;
    color: #636363
}

.ConfirActionSub {
    font-size: 14px;
    color: #8a8a8a
}

.deletepopup {
    text-align: center
}

.confirIcon {
    font-size: 28px !important;
    color: #ff4949;
    font-weight: 100;
    width: 44px;
    border: 1px solid #ff4949;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    line-height: 44px
}

.deletepopup .close, .deletepopup .close:hover {
    color: #000;
    opacity: .9
}

.deletepopup .modal-dialog {
    width: 370px
}

.deletepopup .modal-body {
    padding: 0 15px
}

.deletepopup .modal-header {
    border-bottom: 1px solid #fff;
    background-color: #fff;
    border-radius: 3px
}

.deletepopup .modal-footer {
    border-top: 1px solid #fff;
    background-color: #fff
}

.btn_delete, .btn_delete_cancel, .btn_delete:hover, .btn_delete_cancel:hover {
    color: #fff;
    padding: 7px 28px !important;
    border-radius: 3px;
    font-size: 15px !important;
    margin-bottom: 20px
}

.btn_delete:hover, .btn_delete_cancel:hover {
    opacity: .8
}

.btn_delete {
    background-color: #f15e5e;
    border-color: #f15e5e
}

.btn_delete_cancel {
    background-color: #c1c1c1;
    border-color: #c1c1c1
}

.DeleteBtn:hover, .DeleteBtn_Gallery_Image:hover {
    color: #a94442;
    border: 1px solid #a94442
}

.list-angle-right li:before {
    content: "\f142";
    font-family: "Material Design Icons";
    position: absolute;
    left: 0;
    top: 3px;
    display: block;
    font-size: 15px;
    color: #000
}

.vacancy {
    font-size: 12px;
    color: #000
}

.apply_loc {
    margin: 10px 0;
    padding: 0;
    display: block;
    width: 100%;
    float: left
}

.apply_loc li {
    list-style: none;
    float: left;
    margin-right: 5px;
    font-size: 13px;
    font-weight: 600
}

label {
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 13px;
    color: #252525
}

.form-group {
    margin-bottom: 10px
}

.VzChekbox label {
    color: #000
}

.socialIcon {
    width: 27px;
    line-height: 27px;
    text-align: center;
    border-radius: 50%;
    background-color: #505798;
    float: left;
    margin-top: 25px;
    color: #fff;
    font-size: 13px;
    transition: .2s
}

.socialIcon:hover {
    font-size: 16px;
    color: #fff
}

.modal-dialog {
    max-width: 440px;
    width: 98%;
    margin: 30px auto
}

.titleFine {
    font-weight: 600;
    letter-spacing: -0.41px;
    line-height: 24px;
    font-size: 17px
}

.titleFineSub {
    font-weight: 400;
    letter-spacing: -0.41px;
    font-size: 15px
}

.sidebar-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.sidebar-wrapper a {
    text-decoration: none
}

.sidebar-content {
    max-height: calc(100% - 30px);
    height: calc(100% - 30px);
    overflow-y: auto;
    position: relative
}

.sidebar-content.desktop {
    overflow-y: hidden
}

#file-upload {
    position: absolute;
    left: -9999px
}

label[for="file-upload"] {
    color: #fff;
    padding: 0;
    display: inline-block;
    background: #565fb9;
    line-height: 35px;
    cursor: pointer;
    width: 75px;
    border-radius: 0 2px 2px 0;
    text-align: center
}

label[for="file-upload"]:hover {
    background: #8e989f
}

#filename {
    line-height: 35px;
    padding-left: .5em;
    float: left;
    width: calc(100% - 75px);
    font-size: 13px;
    overflow: hidden;
    background: #ccc;
    text-overflow: ellipsis;
    white-space: nowrap
}

.sidebar-wrapper .sidebar-brand {
    padding: 3px 20px;
    display: flex;
    align-items: center;
    background-color: #29333f;
    height: 60px
}

.sidebar-wrapper .sidebar-brand img {
    max-height: 35px;
    width: auto
}

.sidebar-wrapper .sidebar-brand > a {
    text-transform: uppercase;
    font-weight: bold;
    flex-grow: 1
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
    cursor: pointer;
    font-size: 20px
}

.VzChekbox .checkbox + .checkbox, .VzChekbox .radio + .radio {
    margin-top: 10px
}

.VzChekbox .radio {
    margin-top: 10px;
    float: left
}

.VzChekbox .checkbox label, .VzChekbox .radio label {
    padding-left: 0;
    padding-right: 10px;
    font-weight: 500;
    color: #000
}

.VzChekbox .radio input[type="radio"] {
    position: absolute;
    opacity: 0
}

.VzChekbox .radio input[type="radio"] + .radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: 0;
    margin-right: 5px;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease
}

.VzChekbox .radio input[type=radio] {
    margin-left: 0
}

.VzChekbox .radio input[type="radio"]:checked + .radio-label:before {
    background-color: #3cb371;
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border: 1px solid #3cb371
}

.VzChekbox .radio input[type="radio"]:focus + .radio-label:before {
    outline: 0;
    border-color: #3cb371
}

.VzChekbox .radio input[type="radio"]:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4
}

.VzChekbox .radio input[type="radio"] + .radio-label:empty:before {
    margin-right: 0
}

.VzChekbox input[type=checkbox] + label {
    margin: .2em;
    cursor: pointer;
    padding: .2em;
    float: left;
    margin-right: 5px
}

.VzChekbox input[type=checkbox] {
    display: none
}

.VzChekbox input[type=checkbox] + label:before {
    content: "\f12c";
    font-family: "Material Design Icons";
    border: .1em solid #9c9a9a;
    border-radius: .2em;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-left: .2em;
    padding-bottom: .3em;
    margin-right: .2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s
}

.VzChekbox input[type=checkbox] + label:active:before {
    transform: scale(0)
}

.VzChekbox input[type=checkbox]:checked + label:before {
    background-color: MediumSeaGreen;
    border-color: MediumSeaGreen;
    color: #fff
}

.VzChekbox input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa
}

.VzChekbox input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb
}

.sidebar-wrapper .sidebar-header {
    padding: 20px;
    overflow: hidden
}

.sidebar-wrapper .sidebar-header .user-pic {
    float: left;
    width: 60px;
    padding: 2px;
    border-radius: 12px;
    margin-right: 15px;
    overflow: hidden
}

.toggled header {
    border: 0;
    padding: .625rem 10px;
    color: #181824;
    background-color: #b6b2b3 !important;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, .12), 0 7px 10px -5px rgba(0, 0, 0, .15);
    height: 60px;
    margin-bottom: 6px
}

header {
    background-color: #a8a9ab !important;
    height: 60px
}

.sidebar-wrapper .sidebar-header .user-pic img {
    object-fit: cover;
    height: 100%;
    width: 100%
}

.sidebar-wrapper .sidebar-header .user-info {
    float: left
}

.sidebar-wrapper .sidebar-header .user-info > span {
    display: block
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
    font-size: 12px
}

.sidebar-wrapper .sidebar-header .user-info .user-status {
    font-size: 11px;
    margin-top: 4px
}

.sidebar-wrapper .sidebar-header .user-info .user-status i {
    font-size: 8px;
    margin-right: 4px;
    color: #5cb85c
}

.sidebar-wrapper .sidebar-search > div {
    padding: 10px 20px
}

.sidebar-wrapper .sidebar-menu {
    padding-bottom: 10px;
    padding-top: 10px
}

.toggled .logoutbx {
    float: right;
    cursor: pointer;
    line-height: 45px;
    font-weight: 600;
    margin-right: 20px;
    text-transform: uppercase;
    color: #181824
}

.notfctntbx {
    float: right;
    cursor: pointer;
    line-height: 45px;
    font-weight: 600;
    margin-right: 20px;
    text-transform: uppercase;
    color: #fff
}

.toggled .notfctntbx {
    float: right;
    cursor: pointer;
    line-height: 45px;
    font-weight: 600;
    margin-right: 20px;
    text-transform: uppercase;
    color: #181824
}

.notfctntbx i {
    color: #fff;
    font-size: 16px;
    border: 1px solid #2a927d;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 0;
    float: left;
    line-height: 24px;
    margin-right: 4px;
    text-align: center;
    background-color: #2a927d
}

.toggled .notfctntbx:after {
    content: '';
    height: 17px !important;
    width: 1px;
    background-color: #bdb2b2;
    position: absolute;
    top: 18px;
    right: 8px
}

.logoutbx i {
    color: #fff;
    font-size: 14px;
    border: 1px solid #ed1f52;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 0;
    float: left;
    line-height: 24px;
    margin-top: 11px;
    margin-right: 4px;
    text-align: center;
    background-color: #ed1f52
}

.notfctntbx i, .logoutbx i {
    margin-top: 18px
}

.toggled .notfctntbx i, .toggled .logoutbx i {
    margin-top: 10px
}

.notfctntbx {
    line-height: 60px
}

p {
    font-size: 13px;
    line-height: 21px
}

.btnAlinment {
    margin-top: -48px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .3px;
    color: #fff;
    background-color: #2a927d;
    border-color: #2a927d;
    padding: 6px 10px !important;
    border-radius: 3px;
    margin-right: 5px
}

.btnAlinment:hover, .btnAlinment:focus {
    color: #ccc;
    background-color: #228a75;
    border-color: #228a75
}

.btnAlinment i.mdi-plus {
    background-color: #f5f5f5;
    border-radius: 50%;
    color: #228a75;
    padding: 0 2px
}

.logoutbx {
    line-height: 60px;
    color: #fff;
    float: right;
    cursor: pointer;
    font-weight: 600;
    margin-right: 20px;
    text-transform: uppercase
}

.logoutbx:hover {
    opacity: .8
}

.sidebar-wrapper .sidebar-menu .header-menu span {
    font-weight: bold;
    font-size: 14px;
    padding: 15px 20px 5px 20px;
    display: inline-block
}

.sidebar-wrapper .sidebar-menu ul li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    position: relative;
    padding: 6px 30px 6px 20px
}

.sidebar-wrapper .sidebar-menu ul li a i {
    margin-right: 4px;
    font-size: 14px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    float: left
}

.sidebar-wrapper .sidebar-menu ul li.activ2:hover i {
    color: #fff !important
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a span {
    line-height: 28px
}

.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
    display: inline-block;
    animation: swing ease-in-out .5s 1 alternate
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
    font-family: "Material Design Icons";
    font-weight: 900;
    content: "\f142";
    font-style: normal;
    display: inline-block;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: 0;
    position: absolute;
    right: 15px;
    top: 14px
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
    padding: 5px 0
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
    padding-left: 0;
    font-size: 13px
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a {
    padding-left: 55px;
    font-size: 13px;
    font-weight: 500
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
    content: "\f130";
    font-family: "Material Design Icons";
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
    font-size: 8px
}

.form-control {
    font-weight: 400;
    font-size: 13px
}

.sidebar-wrapper .sidebar-menu ul li a span.label, .sidebar-wrapper .sidebar-menu ul li a span.badge {
    float: right;
    margin-top: 8px;
    margin-left: 5px
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge, .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
    float: right;
    margin-top: 0
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
    display: none
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
    transform: rotate(90deg);
    right: 17px
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.activ2 > a:after {
    transform: rotate(90deg);
    right: 17px
}

.sidebar-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex
}

.sidebar-footer > a {
    flex-grow: 1;
    text-align: center;
    height: 30px;
    line-height: 30px;
    position: relative
}

.sidebar-footer > a .notification {
    position: absolute;
    top: 0
}

.badge-sonar {
    display: inline-block;
    background: #980303;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    position: absolute;
    top: 0
}

.badge-sonar:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #980303;
    opacity: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: sonar 1.5s infinite
}

.page-wrapper .page-content {
    display: inline-block;
    width: 100%;
    padding-left: 0
}

.cardpad {
    background-color: #ededed;
    margin: 6px;
    height: calc(100vh - 73px);
    border-radius: 3px;
    padding: 5px;
    overflow: hidden;
    overflow-y: auto
}

.btn-info i.mdi-plus {
    background-color: #f5f5f5;
    border-radius: 50%;
    color: #000;
    padding: 0 2px
}

.page-wrapper .page-content {
    overflow-x: hidden;
    min-height: 100vh;
    background-color: #505798
}

#bar-chart {
    width: 100%;
    height: 300px;
    position: relative
}

#line-chart {
    width: 100%;
    height: 300px;
    position: relative
}

.Td_Img_Holder img {
    max-width: 100px
}

.Td_80 {
    max-width: 100px
}

.Td_Img_Holder img {
    max-width: 60px;
    max-height: 100px
}

.dataTables_wrapper table {
    border: 1px solid #eae4e4
}

.table > tbody > tr > td {
    font-size: 13px;
    color: #000;
    vertical-align: middle
}

.table > thead > tr > th {
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
}

.dataTables_length {
    float: left
}

.dataTables_filter {
    float: right;
    margin-bottom: 5px
}

.cursrPointer {
    cursor: pointer
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: inherit !important;
    box-sizing: inherit !important;
    height: 30px;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

div.dataTables_wrapper div.dataTables_length select {
    width: 50px !important;
    display: inline-block;
    -webkit-appearance: textfield;
    -moz-box-sizing: inherit !important;
    box-sizing: inherit !important;
    height: 26px;
    padding: 2px 1px !important;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.paginate_button {
    padding: 4px 7px;
    background-color: #f5f5f5;
    margin-right: 1px;
    cursor: pointer;
    color: #000
}

.paginate_button:hover {
    background-color: #ccc;
    text-decoration: none;
    color: #000
}

.paginate_button.current {
    background-color: #eb9b00;
    color: #fff
}

.ActinTd {
    width: 120px
}

.TdNumber {
    width: 30px
}

.tableviev {
    margin: 5px 0 20px
}

.tableviev tr td {
    color: #000;
    font-size: 13px;
    padding: 6px 4px
}

.tableviev tr td:first-child {
    font-weight: 600;
    width: 125px;
    background-color: #f6f6f6
}

.breadcrumb table tr td .Theme_Star_Box i.mdi-star {
    margin-left: -4px;
    font-size: 16px
}

.Theme_Star_Box i.mdi-star.text-star {
    color: #fec42d
}

.paginate_button.disabled {
    background-color: #fff;
    color: #ccc;
    cursor: default
}

#pie-chart {
    width: 100%;
    height: 300px;
    position: relative;
    font-size: 12px
}

.paginate_button.previous, .paginate_button.next {
    background-color: #fff
}

::-webkit-scrollbar {
    width: 10px;
    height: 7px
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0
}

::-webkit-scrollbar-thumb {
    background: #5b677d;
    border: 0 none #fff;
    border-radius: 0
}

::-webkit-scrollbar-thumb:hover {
    background: #525965
}

::-webkit-scrollbar-thumb:active {
    background: #525965
}

::-webkit-scrollbar-track {
    background: transparent;
    border: 0 none #fff;
    border-radius: 50px
}

::-webkit-scrollbar-track:hover {
    background: transparent
}

::-webkit-scrollbar-track:active {
    background: transparent
}

::-webkit-scrollbar-corner {
    background: transparent
}

.btn-primary {
    background-color: #eb9b00;
    border: 1px solid #eb9b00
}

.btn-primary:hover {
    background-color: #475fe0;
    /*border: 1px solid #eb9b00;*/
    opacity: .9
}

.box-header.with-border {
    border-bottom-width: 1px;
    border-bottom-style: solid
}
.bgsecndary
{
    background-color: #29333f !important;
    border: 0 !important;
}
.bgsecndary h4
{
    color: #fff !important;
}
.box-header {

    display: block;
    padding: 5px 10px;
    position: relative;
    border-bottom: 1px solid #eaeaea;
    border-radius: 3px 3px 0 0;
    background-color: #fff;
    border: 1px solid #eb9b00;

}

.box-title {
    font-weight: 600;
    font-size: 15px;
    color: #000;
    text-transform: uppercase
}

.box-title i {
    width: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    font-size: 24px;
    margin-right: 5px;
    background-color: #eb9b00;
    float: left;
    margin-top: -10px
}

.chiller-theme .sidebar-wrapper {
    background: #29333f;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu, .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: transparent;
    box-shadow: none
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role, .chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status, .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu, .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text, .chiller-theme .sidebar-wrapper .sidebar-brand > a, .chiller-theme .sidebar-wrapper .sidebar-menu ul li a, .chiller-theme .sidebar-footer > a {
    color: #fff;
    font-weight: 500;
    font-size: 14px
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover > a, .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a, .chiller-theme .sidebar-wrapper .sidebar-header .user-info, .chiller-theme .sidebar-wrapper .sidebar-brand > a:hover, .chiller-theme .sidebar-footer > a:hover i {
    color: #fff
}

.chiller-theme .mobilehide {
    display: none
}

.chiller-theme.toggled .mobilehide {
    display: block
}

.toggled .mdi-menu {
    color: #31353d;
    float: left;
    font-size: 28px;
    cursor: pointer
}

#show-sidebar .mdi-close {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    top: 20px;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
    color: #181824 !important;
    float: left;
    font-size: 28px;
    cursor: pointer;
    margin-top: 6px
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
    color: #181824 !important
}

.sidebar-wrapper .sidebar-menu ul li a.activ, .sidebar-wrapper .sidebar-menu ul li a.activ:hover {
    background-color: #eb9b00;
    color: #fff !important
}

.sidebar-wrapper .sidebar-menu ul li a.activ i, .sidebar-wrapper .sidebar-menu ul li a.activ:hover i {
    color: #fff
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
    color: #000
}

.chiller-theme .sidebar-wrapper ul li:hover a i, .chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before, .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus + span, .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #eb9b00
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #6c7b88
}

.chiller-theme .sidebar-footer {
    background: #3a3f48;
    box-shadow: 0 -1px 5px #282c33;
    border-top: 1px solid #464a52
}

.chiller-theme .sidebar-footer > a:first-child {
    border-left: none
}

.chiller-theme .sidebar-footer > a:last-child {
    border-right: 0
}

.card {
    -webkit-box-shadow: 0 0 13px 0 rgba(236, 236, 241, .44);
    box-shadow: 0 0 13px 0 rgba(236, 236, 241, .44);
    margin-bottom: 5px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.text-white {
    color: #fff !important
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem !important
}

.mini-stat .mini-stat-img {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: rgba(255, 255, 255, .15);
    border-radius: 4px;
    text-align: center
}

.mini-stat .mini-stat-img i {
    font-size: 22px
}

.mini-stat .mini-stat-img img {
    max-width: 32px
}

.font-16 {
    font-size: 16px
}

.font-500 {
    font-weight: 500
}

.text-success {
    color: #505798 !important
}

.mini-stat .mini-stat-label {
    position: absolute;
    right: 0;
    top: 18px;
    padding: 2px 10px 2px 32px;
    -webkit-clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0 100%, 24% 50%, 6% 0);
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0 100%, 24% 50%, 6% 0)
}

.mb-0, .my-0 {
    margin-bottom: 0 !important
}

.mr-4, .mx-4 {
    margin-right: 1.5rem !important
}

.pt-2, .py-2 {
    padding-top: .5rem !important
}

.float-right {
    float: right !important
}

.float-left {
    float: left !important
}

.text-white-50 {
    color: rgba(255, 255, 255, .5) !important
}

.dahcardPad {
    padding: 20px
}

.lightblue {
    background-color: #fff !important
}
.lightblue.text-white,
.lightblue.text-white .hvrwht,
.lightblue.text-white .text-white-50
{
    color: #000 !important
}
.lightblue.card.mini-stat .mini-stat-img
{
    background: rgba(222, 222, 222, 0.64) !important;
}

.lightorange {
    background-color: #eb9b00 !important
}
.card.mini-stat
{
box-shadow: 3px 2px 5px rgba(41, 51, 63, 0.06);
}
.btn-index
{
    background-color: #fff !important;
    color: #000 !important;
    border: 1px solid #ccc !important;
    transition: .4s;
    margin-bottom: 10px;
}
.btn-index:hover
{
    background-color: #eb9b00 !important;
    color: #fff !important;
    border: 1px solid #eb9b00 !important;
}
.dataTables_wrapper
{
width: 100%;
overflow-x: auto;
overflow-y: hidden;
}
.dataTables_wrapper table
{
min-width: 500px;
}
.hvrwht {
    transition: .4s;
    color: #fff;
    font-size: 13px;
    display: block
}

.hvrwht i {
    float: right
}

.hvrwht:hover {
    color: #fff !important;
    opacity: .8
}

a:hover {
    text-decoration: none !important
}

input[name=css-tabs] {
    display: none
}

.nav-tabs {
    background-color: #fff;
    border-bottom: 1px solid #c5c5c5
}

.nav > li > a {
    color: #2b2b2b;
    font-weight: 600
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #fff !important;
    background-color: #2a927d !important;
    border-radius: 0 !important
}

.btn {
    padding: 6px 13px;
    font-size: 13px
}

.aspect {
    position: relative;
    height: 56px;
    padding: 3px 5px;
    cursor: pointer
}

.aspect:after {
    content: "\f143";
    font-family: "Material Design Icons";
    position: absolute;
    right: 12px;
    font-size: 21px;
    color: #505798;
    top: 14px
}

.aspect.collapsed:after {
    content: "\f140"
}

#aspect-content {
    margin: 10px 0 0
}

.Sliderthumb, .Sliderthumb img {
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50%;
    float: left
}

.Sliderthumb img {
    border: 2px solid #626ed4;
    padding: 2px
}

.Sliderhead {
    height: 55px;
    float: left;
    width: calc(100% - 80px)
}

.SliderthumbCap {
    float: left;
    line-height: 50px;
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 84px)
}

.NewBtn {
    margin-top: 20px;
    padding: 7px 12px !important
}

#aspect-content * {
    box-sizing: border-box
}

#aspect-content h5 {
    font-size: 15px;
    font-weight: 600
}

#aspect-content p {
    font-size: 13px;
    font-weight: 400
}

ul {
    margin: 0;
    padding: 0
}

.cnBox {
    height: auto !important;
    min-height: 250px !important
}

ul li {
    list-style: none
}

.widget_address {
    font-weight: 400;
    font-size: 13px;
    line-height: 21px
}

.aspect-tab {
    position: relative;
    width: 100%;
    margin: 0 auto 8px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 0 1px #e0e0e0;
    opacity: 1;
    transition: box-shadow .4s, opacity .4s;
    float: left
}

.aspect-input {
    display: none
}

.aspect-tab-content {
    max-height: 3000px;
    width: 100%
}

.aspect-input:checked ~ .aspect-content + .aspect-tab-content {
    max-height: 3000px;
    width: 100%
}

.form-control {
    color: #000
}

.aspect-input:checked ~ .aspect-content:after {
    transform: rotate(0)
}

.aspect-label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-height: 80px;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    z-index: 1;
    cursor: pointer
}

.aspect-content {
    position: relative;
    display: block;
    height: 50px;
    margin: 0;
    padding: 6px 50px 6px 10px;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none
}

.aspect-content:before, .aspect-content:after {
    content: "";
    display: inline-block;
    vertical-align: middle
}

.aspect-content:before {
    height: 100%
}

.aspect-content:after {
    position: absolute;
    width: 24px;
    height: 100%;
    right: 15px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTI0IDI0SDBWMGgyNHoiIG9wYWNpdHk9Ii44NyIvPgogICAgICAgIDxwYXRoIGZpbGw9IiM1NTZBRUEiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTE1Ljg4IDE1LjI5TDEyIDExLjQxbC0zLjg4IDMuODhhLjk5Ni45OTYgMCAxIDEtMS40MS0xLjQxbDQuNTktNC41OWEuOTk2Ljk5NiAwIDAgMSAxLjQxIDBsNC41OSA0LjU5Yy4zOS4zOS4zOSAxLjAyIDAgMS40MS0uMzkuMzgtMS4wMy4zOS0xLjQyIDB6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=");
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg)
}

.aspect-name {
    display: inline-block;
    width: 75%;
    margin-left: 16px;
    font-weight: 500;
    color: #242a32;
    white-space: normal;
    text-align: left;
    vertical-align: middle
}

.aspect-stat {
    width: 80px;
    text-align: right;
    line-height: 50px;
    position: absolute;
    z-index: 9;
    right: 37px;
    top: 4px
}

.all-opinions, .aspect-name {
    font-size: 14px;
    line-height: 22px
}

.all-opinions {
    color: #5d5d5d;
    text-align: left
}

.aspect-content + .aspect-tab-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s
}

.aspect-content > div, .aspect-stat > div {
    float: left
}

.aspect-content > div {
    vertical-align: middle
}

.positive-count, .negative-count, .neutral-count {
    display: inline-block;
    margin: 0 0 0 20px;
    background-repeat: no-repeat;
    font-size: 13px;
    line-height: 20px;
    color: #363636
}

.aspect-info {
    width: 60%;
    white-space: nowrap;
    font-size: 0
}

.aspect-info:before {
    content: "";
    display: inline-block;
    height: 44px;
    vertical-align: middle
}

.chart-pie {
    position: relative;
    display: inline-block;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: #e4e4e4;
    vertical-align: middle
}

.chart-pie:after {
    content: "";
    display: block;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    background-color: #fff
}

.chart-pie-count {
    position: absolute;
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden
}

.chart-pie > div {
    clip: rect(0, 44px, 44px, 22px)
}

.chart-pie > div, .chart-pie.over50 .first-fill {
    position: absolute;
    height: 44px;
    width: 44px;
    border-radius: 50%
}

.chart-pie.over50 > div {
    clip: rect(auto, auto, auto, auto)
}

.chart-pie.over50 .first-fill {
    clip: rect(0, 44px, 44px, 22px)
}

.chart-pie:not(.over50) .first-fill {
    display: none
}

.second-fill {
    position: absolute;
    clip: rect(0, 22px, 44px, 0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    box-sizing: border-box
}

.chart-pie.positive .first-fill {
    background-color: #82d428
}

.chart-pie.positive .second-fill {
    border-color: #82d428
}

.chart-pie.negative .first-fill {
    background-color: #ff6e00
}

.chart-pie.negative .second-fill {
    border-color: #ff6e00
}

.aspect-tab-content {
    background-color: #f5f5f5;
    font-size: 0;
    text-align: justify
}

img {
    max-width: 100%;
    width: 100%
}

.pad5 {
    padding-left: 5px !important;
    padding-right: 5px !important
}

.sentiment-wrapper {
    padding: 4px 3px 7px;
    float: left;
    width: 100%;
    border-top: 1px solid #dcdcdc;
    background-color: #f5f5f5
}

.aspect-stat a {
    padding: 2px 5px;
    cursor: pointer
}

.aspect-stat a .mdi-delete, .aspect-stat a .mdi-pencil, .ActinTd a .mdi-delete, .ActinTd a .mdi-pencil, .ActinTd a .mdi-eye {
    font-size: 14px;
    border-radius: 50%;
    padding: 2px 4px;
    transition: .4s
}

.aspect-stat a .mdi-delete:hover, .aspect-stat a .mdi-pencil:hover {
    background-color: #f5f5f5;
    transform: scale(1.01)
}


.btn2
{
    color: #ffffff;
    background-color: #eb9b00;
    padding: 4px 12px;
    border-radius: 2px;
    transition: .4s;
    margin: 1px;
    float: left;
}
.btn2:hover
{
    color: #ffffff;
    background-color: #eb9b00;
  opacity: .8;
}

/*

.aspect-stat a .mdi-delete, .ActinTd a .mdi-delete {
    color: #f13b3b;
    border: 1px solid #a94442
}
.aspect-stat a .mdi-pencil, .ActinTd a .mdi-pencil {
    color: #5cb85c;
    border: 1px solid #5cb85c
}

.aspect-stat a .mdi-eye, .ActinTd a .mdi-eye {
    color: #6495ed;
    border: 1px solid #6495ed
}*/

.border_right_seperate {
    position: relative
}

.border_right_seperate:after {
    content: '';
    height: 23px;
    width: 1px;
    background-color: #dedbdb;
    position: absolute;
    right: -3px;
    top: 0
}

.sentiment-wrapper > div > div {
    width: 100%;
    padding: 5px 10px 5px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ececec;
    text-align: left;
    height: 225px
}

.sentiment-wrapper img {
    max-height: 172px
}

p {
    font-weight: 400
}

.opinion-header {
    position: relative;
    width: 100%;
    margin: 0 0 5px;
    font-size: 14px;
    line-height: 20px;
    color: #242a32;
    text-transform: capitalize;
    font-weight: 600
}

.opinion-header > span:nth-child(2) {
    position: absolute;
    right: 0
}

.opinion-header + div > span {
    font-size: 13px;
    line-height: 22px;
    color: #363636
}

@media screen and (max-width: 800px) {
    .aspect-label {
        max-height: 102px
    }

    .aspect-content {
        height: auto;
        padding: 10px 87px 10px 30px
    }

    .aspect-content:before {
        display: none
    }

    .aspect-content:after {
        top: 0
    }

    .aspect-content > div {
        display: block;
        width: 100%
    }

    .aspect-stat {
        margin-top: 10px;
        text-align: left
    }
}

@media screen and (max-width: 750px) {
    .sentiment-wrapper > div {
        display: block;
        width: 100%;
        max-width: 100%
    }

    .sentiment-wrapper > div:not(:first-child) {
        margin-top: 10px
    }
}

@media screen and (max-width: 500px) {
    .aspect-label {
        max-height: 140px
    }

    .aspect-stat > div {
        display: block;
        width: 100%
    }

    .all-opinions {
        margin-bottom: 10px
    }

    .all-opinions + div > span:first-child {
        margin: 0
    }
}

textarea {
    resize: vertical
}

.flexbox {
    display: flex;
    flex-wrap: wrap
}

.modal_950 {
    width: 100%;
    max-width: 950px
}

.modal-body {
    clear: both;
    min-height: 1px;
    width: 100%;
    float: left;
    background-color: #fff
}

.modal-header {
    padding: 10px 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #29333f
}

.modal-footer {
    padding: 4px 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    width: 100%;
    float: left
}

.error_message {
    font-size: 12px;
    color: #f13030
}

.modal-title {
    color: #fff;
    font-size: 16px
}

.close, .close:hover {
    color: #fff;
    text-shadow: none;
    opacity: .6;
    font-size: 28px;
    font-weight: 200
}

.close:hover {
    opacity: 1 !important
}

.box {
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    max-width: 30em;
    margin: 0 auto;
    border-radius: 4px
}

.box header {
    border-bottom: 1px solid #ddd;
    padding: .5em 1em;
    margin-bottom: 1em
}

.box .content {
    padding: 1em
}

.file-wrapper .btn, .file-wrapper button {
    color: #fff;
    background-color: #565fb9;
    border: 1px solid #5e6394;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    margin: .6em .6em .6em 0;
    padding: .35em .7em .4em;
    text-decoration: none;
    width: auto;
    position: relative;
    border-radius: 4px;
    user-select: none;
    outline: 0;
    -webkit-transition: all, 0.25s, ease-in;
    -moz-transition: all, 0.25s, ease-in;
    transition: all, 0.25s, ease-in
}

.file-wrapper btn:hover, .file-wrapper button:hover {
    background-color: #5e6394;
    color: #333;
    -webkit-transition: all, 0.25s, ease-in;
    -moz-transition: all, 0.25s, ease-in;
    transition: all, 0.25s, ease-in
}

.file-wrapper .btn:active, .file-wrapper button:active {
    background-color: #5e6394;
    top: 2px;
    -webkit-transition: background-color, 0.2s, linear;
    -moz-transition: background-color, 0.2s, linear;
    transition: background-color, 0.2s, linear;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.blockmenu {
    display: block !important
}

.activ2 > a, .activ2:hover > a {
    background-color: #eb9b00;
    color: #fff !important
}

.subactiv {
    background-color: #6d562a;
    color: #fff !important
}

.left {
    width: 100%;
    min-width: 6em;
    padding-right: 1em
}

.right {
    width: 100%
}

.left img {
    width: 100%
}

.img-holder {
    display: block;
    vertical-align: middle;
    width: 100px;
    height: 200px
}

.img-holder img {
    width: 100%;
    max-width: 100%
}

.FileUploadBox {
    width: 185px;
    margin: 1px;
    border: 1px dashed #ccc;
    float: left;
    padding: 15px;
    margin-bottom: 10px
}

.FileUploadBox .right img {
    height: 100px
}

.file-wrapper {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative
}

.file-wrapper:hover .btn {
    background-color: #5e6394 !important
}

.file-wrapper input {
    cursor: pointer;
    font-size: 100px;
    height: 100%;
    filter: alpha(opacity=1);
    -moz-opacity: .01;
    opacity: .01;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9
}

.file-holder {
    display: block;
    font-size: 12px
}

.btn-info {
    color: #fff;
    background-color: #eb9b00;
    border-color: #eb9b00;
    padding: 6px 15px;
    border-radius: 3px;
    transition: .4s
}

.btn-info:hover, .btn-info:active, .btn-info:focus {
    background-color: #eb9b00;
    border-color: #eb9b00;
    opacity: .8
}

.m-r-3 {
    margin-right: 3px
}

.p-t-3 {
    padding-top: 3px
}

.p-t-10 {
    padding-top: 10px
}

.modal.fade.in {
    background-color: rgba(0, 0, 0, 0.52)
}

#service-provide {
    padding: 80px 0;
    color: #333
}

#service-provide h2 {
    color: #333
}

.col-pic {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 30px
}

.col-pic h5 {
    color: #fff;
    font-size: 17px;
    font-weight: 500
}

.col-pic p {
    color: #fff;
    font-size: 13px
}

.col-pic label {
    width: 100px;
    height: 2px;
    display: block;
    background: #fff;
    border-radius: 10px;
    margin: .5em auto
}

.col-3 {
    position: relative;
    margin-bottom: 1.5em;
    z-index: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 2.2s ease-in-out;
    -moz-transition: all 2.2s ease-in-out;
    -ms-transition: all 2.2s ease-in-out;
    -o-transition: all 2.2s ease-in-out;
    transition: all 2.2s ease-in-out
}

.col-3 a img {
    -webkit-transition: all 2.4s ease-in-out;
    -moz-transition: all 2.4s ease-in-out;
    -ms-transition: all 2.4s ease-in-out;
    -o-transition: all 2.4s ease-in-out;
    transition: all 2.4s ease-in-out;
    height: 320px;
    width: 100%
}

.col-3 a {
    display: block;
    overflow: hidden;
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.col-3 a:hover img {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5)
}

.col-3:hover .col-pic {
    background: rgba(0, 0, 0, 0.59)
}

.padcol {
    padding-left: 1px;
    padding-right: 2px;
    margin-top: -17px
}

.margright {
    margin-right: -2px
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(35, 34, 34, 0.5);
    display: none;
    transition: all 2s ease-in-out
}

.alert-warning {
    position: relative;
    width: 400px;
    margin: 20px auto;
    border: 0;
    transition: all 2s ease-in-out;
    padding: 8px 10px 8px 10px;
    color: #fff;
    position: relative
}

.alert-warning .close {
    position: absolute;
    top: 12px;
    right: 7px;
    color: #fff;
    font-size: 18px;
    opacity: 1
}

.alert-warning .close span {
    width: 20px;
    height: 20px
}

.alert-warning p {
    color: #fff;
    font-size: 14px;
    margin-left: 30px;
    padding: 4px
}

.alert-warning.btn-success {
    background-color: #449d44;
    border-color: #449d44
}

.alert-warning.btn-danger {
    background-color: #d9534f;
    border-color: #d43f3a
}

.alert-warning.btn-info {
    background-color: #21a3ca;
    border-color: #21a3ca
}

.alert-warning.btn-warning {
    background-color: #d08c2b;
    border-color: #d08c2b
}

.alert-warning.btn-success:before, .alert-warning.btn-danger:before, .alert-warning.btn-info:before, .alert-warning.btn-warning:before {
    position: absolute;
    font-family: "Material Design Icons";
    font-size: 21px
}

.alert-warning.btn-success:before {
    content: "\f514"
}

.alert-warning.btn-danger:before {
    content: "\f1c0"
}

.alert-warning.btn-info:before {
    content: "\f2fc"
}

.alert-warning.btn-warning:before {
    content: "\f02a"
}

.themecolorbtn {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    float: left;
    margin-right: 5px;
    cursor: pointer;
    position: relative;
    padding: 2px
}

.themecolorbtn:after {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute
}

.themecolorDefault {
    border: 1px solid #e0e0e0
}

.themecolorDefault:after {
    background-color: #e0e0e0
}

.themecolorWite {
    border: 1px solid #ccc
}

.themecolorWite:after {
    background-color: #ccc
}

.themecolorDarkBlue {
    border: 1px solid #2e335a
}

.themecolorDarkBlue:after {
    background-color: #2e335a
}

.themecolorLightBlue {
    border: 1px solid #0094e9
}

.themecolorLightBlue:after {
    background-color: #0094e9
}

.themeDarkBlue .chiller-theme .sidebar-wrapper, .themeDarkBlue .sidebar-wrapper .sidebar-brand, .themeDarkBlue .btn-info, .themeDarkBlue header {
    background: #2e335a !important
}

.themeDarkBlue .btn-info, .themeDarkBlue .file-wrapper .btn, .themeDarkBlue .socialIcon, .themeDarkBlue .btnAlinment {
    background: #2e335a !important;
    border-color: #2e335a
}

.themeDarkBlue .btn-info, .themeDarkBlue .file-wrapper .btn, .themeDarkBlue .socialIcon {
    background: #2e335a !important;
    border-color: #2e335a
}

.themeDarkBlue .chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover > a, .themeDarkBlue .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a, .themeDarkBlue .chiller-theme .sidebar-wrapper .sidebar-header .user-info, .themeDarkBlue .chiller-theme .sidebar-wrapper .sidebar-brand > a:hover, .themeDarkBlue .chiller-theme .sidebar-footer > a:hover i, .themeDarkBlue .chiller-theme .sidebar-wrapper ul li:hover a i, .themeDarkBlue .chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before, .themeDarkBlue .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus + span, .themeDarkBlue .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #fff !important
}

.themeDarkBlue .chiller-theme .sidebar-wrapper .sidebar-menu ul li a, .themeLightBlue .chiller-theme .sidebar-wrapper .sidebar-menu ul li a {
    color: #fff !important
}

.themeDarkBlue .subactiv {
    background-color: #1a84c1 !important
}

.themeDarkBlue .sidebar-wrapper .sidebar-menu ul li a.activ, .themeDarkBlue .nav-tabs > li.active > a {
    background-color: #424984 !important;
    color: #fff
}

.themeLightBlue .chiller-theme .sidebar-wrapper, .themeLightBlue .sidebar-wrapper .sidebar-brand, .themeLightBlue header {
    background: #0d94e2 !important
}

.themeLightBlue .btn-info, .themeLightBlue .file-wrapper .btn, .themeLightBlue .socialIcon, .themeLightBlue .btnAlinment {
    background: #0094e9 !important;
    border-color: #0094e9
}

.themeLightBlue .sidebar-wrapper .sidebar-menu ul li a.activ, .themeLightBlue .nav-tabs > li.active > a {
    background-color: #0d83c7 !important
}

.themeLightBlue .subactiv {
    background-color: #26a0e6 !important
}

.themeLightBlue .sidebar-wrapper .sidebar-brand {
    border-bottom: 1px solid #0e89d0
}

.themeLightBlue .chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover > a, .themeLightBlue .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a, .themeLightBlue .chiller-theme .sidebar-wrapper .sidebar-header .user-info, .themeLightBlue .chiller-theme .sidebar-wrapper .sidebar-brand > a:hover, .themeLightBlue .chiller-theme .sidebar-footer > a:hover i, .themeLightBlue .chiller-theme .sidebar-wrapper ul li:hover a i, .themeLightBlue .chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before, .themeLightBlue .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus + span, .themeLightBlue .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #fff !important
}

.themeLightBlue .toggled header, .themeDarkBlue .toggled header, .themeWite .toggled header {
    background: #fff !important
}

.dropdown.dropdownHolder {
    float: right;
    position: relative;
    width: 160px
}

.dropdown.dropdownHolder .dropdown-menu {
    min-width: 220px;
    max-height: 300px;
    overflow-y: auto
}

.notiCount {
    background-color: #7f7f83;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    float: right;
    position: absolute;
    top: -2px;
    right: 10px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    font-size: 11px
}

.dropdown.dropdownHolder .dropdown-menu a {
    white-space: pre-wrap;
    font-size: 13.4px;
    border-bottom: 1px solid #f5f5f5
}